/* Reset code */
html {
  scroll-behavior: smooth;
}
body {
  background-image: url(images/Book-bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  width: 100%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
[class*="col-"] {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

/* Small devices (Tablets & large phones: 576px)*/
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/* medium devices (Tablets & large phones: 768px)*/

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/* Large devices (Tablets & large phones: 992px)*/

@media (min-width: 992px) {
  .menu ul li {
    display: inline;
  }
  .contact input {
    margin: 45px;
  }
  .createBtn {
    margin-top: 40px;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* styling starts from here */
header {
  text-align: center;
  background-color: rgba(103, 92, 61, 0.559);
}
.logoDiv {
  margin: 20px;
}
.logoDiv a img:hover {
  border: 3px solid rgb(0, 0, 0);
}
.logoDiv h3 {
  color: white;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  padding: 15px;
}
.menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
}
.menu ul li a:hover {
  color: rgb(141, 24, 34);
}
.contact {
  /* Change in Responsive */
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contact input {
  border: 2px solid rgb(202, 77, 125);
  padding: 10px;
  /* Change in Responsive */
  /* width: 250px; */
  width: 100%;
  padding-left: 7px;
  border-radius: 10px;
}
.createBtn button {
  color: aliceblue;
  padding: 12px;
  background-color: rgb(118, 71, 165);
  border-radius: 7px;
  border: none;
  box-shadow: 1px 2px 0px 0px rgb(12, 12, 13);
  transition: all 0.3s;
}
.createBtn button:hover {
  cursor: pointer;
}
.createBtn button:active {
  color: rgb(176, 154, 64);
  background-color: rgb(70, 9, 67);
}
